<header class="header">
  <div class="header-left">
    <h1 class="page-title">APS Monitoring Dashboard</h1>
  </div>
  
  <div class="header-right">
    <div class="date-time">
      {{ currentDate | date:'medium' }}
    </div>
    
    <div class="actions">
      <button class="btn-icon">
        <span class="material-icons">notifications</span>
      </button>
      
      <button class="btn-icon">
        <span class="material-icons">help</span>
      </button>
      
      <button class="btn-icon">
        <span class="material-icons">settings</span>
      </button>
    </div>
  </div>
</header>